body {
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 20px 0;
    background: #BBBBBB;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {

    display: inline;
    margin: 0 0 0 15px;

}

nav a {

    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {

    color: #956214;
    text-decoration: underline;

}

.produtos {

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.produtos li {

    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius:  10px;

}

.produtos li:hover {

    border-color: #956214;
    
}

.produtos li:active {

    border-color: #05cf48;
}

.produtos li:hover h2 {

font-size: 34px;
}

.produtos h2 {

    font-size: 30px;
    font-weight: bold;

}

.produto-descricao{

    font-size: 18px;
}

.produto-preco{

    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;

}

footer{

    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;

}

.copyright {

    color: #FFFFFF;
    font-size: 13px;
    margin-top:20px;
}

form {

    margin: 40px 20px;

}

form label, form legend{

    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {

    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}

.checkbox{

    margin: 20px 0;
}

.enviar{

    width: 15%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #ac3410;
    padding: 15px 0;
    color: #ffffff;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover{

background-color: #df613b;
transform: scale(1.2);

}

table{

    margin: 20px 20px 40px;
    text-align: center;

}

thead{

    background-color: #555555;
    font-weight: bold;
    color: #ffffff;

}

td, th {

    border: 1px solid #000000;
    padding: 8px 15px;
}

/*css pagina inicial */

.banner {

    width: 100%;
}

.titulo-principal{

    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}

.titulo-principal::first-letter {

font-weight: bold;

}

.titulo-principal:after{

content: " ]";

}

.titulo-principal:before {

content: "[ ";

}

.principal {

padding: 3em 0;
background: #FEFEFE;
width: 940px;
margin: 0 auto;

}

.principal p {

    margin: 0 0 1em;
    text-align:justify;
}

.principal strong{

    font-weight: bold;
}

.principal em{

    font-style: italic;
}

.utensilios{

    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
    opacity: 1;
    transition: 400ms;
    box-shadow: 5px 5px 5px 0px #000000;

}

.utensilios:hover{

opacity: 0.3;

}

.mapa {

    padding: 3em 0;
    background:linear-gradient( #FEFEFE, #888888 );

}

.mapa-conteudo {

    width: 940px;
    margin: 0 auto;

}

.mapa p {

    margin: 0 0 2em;
    text-align: center;

}

.beneficios {

    padding: 3em 0;
    background: #888888;

}

.conteudo-beneficios{

    width: 640px;
    margin: 0 auto;

}

.lista-beneficios{

    width: 40%;
    display: inline-block;
    vertical-align: top;

}

.itens {

    line-height: 1.5;
}

.itens:before {

    content: "⭑ ";

}

.itens:first-child{

    font-weight: bold;

}

.imagem-beneficios {

    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0px #000000;
}

.imagem-beneficios:hover {

    opacity: 0.3;

}

.video {

    width: 540px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {

    /* css home */

    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {

        width: auto;
    }

    h1 {

        text-align: center;
    }

    nav {

        position: static;
    }

    .lista-beneficios, .imagem-beneficios  {

        width: 100%;
    }

    .lista-beneficios{

        margin: 0 0 0 3px;
    }

    .utensilios {

        margin: 0 20px 20px 20px;
    }

    .principal p{

        text-align:justify;
        margin: 20px;
    }

    .mapa {

        margin: 0 0 -1em 0;
    }


    /* css produtos */

    .produtos {
        width: auto;
        margin: 0 3em;

    }

    .produtos li {

        width: 100%;
        margin: 3em 1.5%;
    }

    /* css contatos */

    .input-padrao {

        margin: 20px 0 20px;
        padding: 15px 25px;
        width: 85%;
    }

    .form label {

        margin: 20px 0 20px;
        padding: 15px 25px;
        width: 85%;

    }

    .enviar {

        width: 80%;
        margin: 40px 40px 0;

    }

    .checkbox {

        margin: 20px 0 0 0;

    }

    fieldset select {

        font-size: 15px;
        margin: 0 auto 20px;

    }

    table {

        margin: 0 auto 20px;
        text-align: center;
    
    }

    #radio-whatsapp {

        margin: 0 auto 20px;
    }

}